@charset "UTF-8";

body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;  
}

#container{
            background-image: url(../imagens/frame-iphone.png);
            position: relative;
            height: 627px;
            width: 311px;
           }

#conteudo{
           background-image: url(../imagens/tela-home.jpg);
           position: absolute;
           height: 474px;
           width: 268px;
           transform: translate(+8%, +17%);
           background-size: cover;
}



.logos{
    
    background-position: right bottom;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    right: 10px;     
}

.logos:hover{
    width: 60px;
    height: 60px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.377);
    border: 1px solid white;
    transition: 0.5s;
    right: 12px;
}

#logoh{
    top: 17.5px;
}

#logoyout{
    top: 87.5px;
}

#logogit{
    top: 157.5px;
}

#logoinsta{
    top: 227.5px;
}

#logox{
    top: 297.5px;
}

#logoface{
    top: 367.5px;
}
